<% content_for :page_title do %>
  <%= Spree::RelationType.model_name.human(count: :many) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= link_to t('spree.new_relation_type'), new_object_url, id: 'admin_new_relation_type', class: 'btn btn-primary' %>
  </li>
<% end %>

<% if @relation_types.any? %>
  <table class="index" id="listing_relation_types" data-hook>
    <colgroup>
      <col style="width: 15%" />
      <col style="width: 15%" />
      <col style="width: 15%" />
      <col style="width: 35%" />
      <col style="width: 5%" />
      <col style="width: 15%" />
    </colgroup>
    <thead>
      <tr data-hook="admin_relation_types_index_headers">
        <th><%= I18n.t('spree.name') %></th>
        <th><%= I18n.t('spree.applies_from') %></th>
        <th><%= I18n.t('spree.applies_to') %></th>
        <th><%= I18n.t('spree.description') %></th>
        <th><%= I18n.t('spree.bidirectional') %></th>
        <th class="actions" data-hook="admin_pages_index_header_actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @relation_types.each do |relation_type| %>
        <tr id="<%= spree_dom_id relation_type %>" data-hook="admin_relation_types_index_row" class="<%= cycle('odd', 'even') %>">
          <td><%= relation_type.name %></td>
          <td><%= relation_type.applies_from %></td>
          <td><%= relation_type.applies_to %></td>
          <td><%= relation_type.description %></td>
          <td><%= relation_type.bidirectional? ? t('spree.say_yes') : t('spree.say_no') %></td>
          <td class="actions" data-hook="admin_relation_types_index_row_actions">
            <%= link_to_edit relation_type, no_text: true %>
            <%= link_to_delete relation_type, no_text: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-warning no-objects-found">
    <%= I18n.t('spree.no_resource_found', resource: Spree::RelationType.model_name.human(count: :many)) %>,
    <%= link_to I18n.t('spree.add_one'), spree.new_admin_relation_type_path %>!
  </div>
<% end %>
