<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: 'Related Products' } %>

<%= csrf_meta_tag %>

<% if @relation_types.empty? %>
  <div class="alert alert-warning no-objects-found">
    <%= Spree.t(:no_relation_types) %>
  </div>
<% else %>

  <div id="add-line-item">
    <fieldset>
      <legend><%= Spree.t(:add_related_product) %></legend>
      <div data-hook="admin_product_related_products_add" class="row">
        <div id="related_product_type" class="col-4">
          <div class="form-group">
            <%= label_tag :add_type, Spree.t(:type) %>
            <%= select_tag :add_type, options_for_select(
              @relation_types.map { |rt| [rt.name, rt.id, {'data-relation-type': rt.applies_to}] }),
              class: 'select2 relation_type', style: "display: block" %>
          </div>
        </div>

        <div id="related_product_name" class="col-4">
          <div class="form-group">
            <%= label_tag :add_related_to_name, Spree.t(:name_or_sku_short) %>
            <%= hidden_field_tag :add_related_to_name, '', class: 'related_to_autocomplete' %>
          </div>
        </div>

        <div id="related_product_discount" class="col-4">
          <div class="form-group">
            <%= label_tag :add_discount, Spree.t(:discount_amount) %>
            <%= text_field_tag :add_discount, 0.0, class: 'form-control text-center' %>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='column'>
          <%= link_to Spree.t(:add), admin_product_relations_url(@product),
            id: 'add_related_product', class: 'btn btn-primary', data: { update: 'products-table-wrapper' } %>
        <div>
      <div>
    </fieldset>
  </div>

  <div id="products-table-wrapper">
    <%= render 'related_products_table', product: @product %>
  </div>
<% end %>
