<% if @relation_types.empty? %>
  <div class="alert alert-warning no-objects-found">
    <%= I18n.t('spree.no_relation_types') %>
  </div>
<% else %>

  <div id="add-line-item">
    <fieldset>
      <legend><%= I18n.t('spree.add_related_product') %></legend>
      <div data-hook="admin_product_related_products_add" class="row">
        <div id="related_product_type" class="col-3">
          <div class="form-group">
            <%= label_tag :add_type, I18n.t('spree.type') %>
            <%= select_tag :add_type, options_for_select(
              @relation_types.map { |rt| [rt.name, rt.id, {'data-relation-type': rt.applies_to}] }),
              class: 'select2 relation_type', style: "display: block" %>
          </div>
        </div>

        <div id="related_product_name" class="col-3">
          <div class="form-group">
            <%= label_tag :add_related_to_name, I18n.t('spree.name_or_sku_short') %>
            <%= hidden_field_tag :add_related_to_name, '', class: 'related_to_autocomplete' %>
          </div>
        </div>

        <div id="related_product_description" class="col-3">
          <div class="form-group">
            <%= label_tag :add_description, I18n.t('spree.description') %>
            <%= text_field_tag :add_description, '', class: 'form-control text-center' %>
          </div>
        </div>

        <div id="related_product_discount" class="col-3">
          <div class="form-group">
            <%= label_tag :add_discount, I18n.t('spree.discount_amount') %>
            <%= text_field_tag :add_discount, 0.0, class: 'form-control text-center' %>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-12'>
          <%= link_to I18n.t('spree.add'), admin_product_variant_relations_url(@variant.product, @variant),
            id: 'add_related_product', class: 'btn btn-primary', data: { update: 'products-table-wrapper' } %>
        </div>
      </div>
    </fieldset>
  </div>

  <div id="products-table-wrapper">
    <%= render 'related_products_table', variant: @variant %>
  </div>
<% end %>
